body {
    background-color: rgb(214, 214, 214);
}

h1 {
	font-size: 350%;
}

h1, h2 {
    color: rgb(20, 20, 20);
}

div.box {
    background-color: rgb(195, 195, 195);
    max-width: 50em;
    color: rgb(34, 34, 34);
}

a:link {
	color: #1f1f7d;
}

a:visited {
	color: #a133a1;
}

a:active, a:hover {
	color: rgb(148, 36, 36);
}